@use "./base.scss";

// put your custom CSS here!
@font-face {
	font-family: 'National2Condensed';
	src: url('/static/national-2-condensed-web-bold.woff2') format('woff2');
	font-stretch: normal;
	font-display: swap;
	text-rendering: optimizeSpeed;
	}

@font-face {
	font-family: 'GTAmerica';
	src: url('/static/GTAmericaStandardBold.woff2') format('woff2');
	font-style: 700;
	font-stretch: normal;
	font-display: swap;
	text-rendering: optimizeSpeed;
	}

@font-face {
	font-family: 'GTAmerica';
	src: url('/static/GTAmericaStandardBold.woff2') format('woff2');
	font-style: 600;
	font-stretch: normal;
	font-display: swap;
	text-rendering: optimizeSpeed;
	}

@font-face {
	font-family: 'GTAmerica';
	src: url('/static/GTAmericaStandardBold.woff2') format('woff2');
	font-style: 500;
	font-stretch: normal;
	font-display: swap;
	text-rendering: optimizeSpeed;
	}
	  
@font-face {
	font-family: 'GTAmerica';
	src: url('/static/GTAmericaStandardRegular.woff2') format('woff2');
	font-style: 400;
	font-stretch: normal;
	font-display: swap;
	text-rendering: optimizeSpeed;
	}